@import "tailwindcss";

@theme {
  --color-teal: #257180;
  --color-beige: #f2e5bf;
  --color-orange: #fd8b51;
  --color-vintage: #cb6040;

  --color-background: var(--color-beige);
  --color-primary: var(--color-teal);
  --color-secondary: var(--color-orange);
  --color-accent: var(--color-vintage);

  --font-sans: "Noto Sans Japanese";

  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
}
