@reference "tailwindcss";

.container {
  @apply bg-[var(--color-background)] p-4;
}

.events {
  @apply text-white border border-[var(--color-secondary)] bg-[var(--color-secondary)];
  @apply rounded px-2 py-1 text-xs text-center;
}

:root {
  --fc-small-font-size: 1rem;
  --fc-page-bg-color: var(--color-primary);
  --fc-border-color: var(--color-primary);

  --fc-button-text-color: white;
  --fc-button-bg-color: var(--color-primary);
  --fc-button-border-color: var(--color-primary);
  --fc-button-hover-bg-color: color-mix(
    in srgb,
    var(--color-primary) 65%,
    black
  );
  --fc-button-hover-border-color: color-mix(
    in srgb,
    var(--color-primary) 65%,
    black
  );
  --fc-button-active-bg-color: color-mix(
    in srgb,
    var(--color-primary) 65%,
    black
  );
  --fc-button-active-border-color: color-mix(
    in srgb,
    var(--color-primary) 65%,
    black
  );

  --fc-today-bg-color: color-mix(
    in srgb,
    var(--color-primary) 35%,
    var(--color-background)
  );

  --fc-highlight-color: color-mix(
    in srgb,
    var(--color-secondary) 35%,
    var(--color-background)
  );
}

:global .fc-toolbar-title {
  color: var(--color-primary);
  font-weight: bold;
}

:global .fc-col-header-cell-cushion {
  color: var(--color-primary);
}

:global .fc-daygrid-day-number {
  color: var(--color-primary);
}
